<h1>Listings</h1>

<table class="datatable">
  <tr id="heading" >
    <th >id</th>
    <th >name</th>
    <th>telephone</th>
    <th>fax</th>
    <th>suite</th>
    <th>address</th>
    <th>city</th>
    <th>province</th>
    <th>postal_code</th>
    <th>latitude</th>
    <th>longitude</th>
    <th>business Type</th>
    <th>Business Sub Type</th>
    <th>Owner</th>
    <th>Source</th>
    <th>neighbourhood</th>
  </tr>

<% @listings.each do |listing| %>
  <tr id="body">
  	
  	<th><%=listing.id%></th>
    <th><%= link_to listing.name, edit_listing_path(listing) %></th>
    <th><%=listing.telephone%></th>
    <th><%=listing.fax%></th>
    <th><%=listing.suite%></th>
    <th><%=listing.address%></th>
    <th><%=listing.city%></th>
    <th><%=listing.province%></th>
    <th><%=listing.postal_code%></th>
    <th><%=listing.latitude%></th>
    <th><%=listing.longitude%></th>
    <th><%=listing.businessType%></th>
    <th><%=listing.subType%></th>
    <th><%=listing.owner%></th>
    <th><%=listing.source%></th>
    <th><%=listing.localArea%></th>
  	
 <%= form_for listing do |f| %> 	
    <td id="keep"><%= f.radio_button :keep, "keep" , :checked=> listing.keep %></br>
    	<%= f.label :keep, "Keep" %>
    </td>
    <td id="delete"> <%= f.radio_button :keep, "delete", :checked=> !listing.keep  %></br>
    	<%= f.label :keep, "Delete" %>
    </td>
    <td id="checked"><%= f.check_box :checked %></br>
    	<%= f.label :checked, "checked" %>
    </td>
    <td id="menu_collected"><%= f.check_box :menu_collected %></br>
    	<%= f.label :collected, "collected" %>
    </td>
    <td id="menu_digitized"><%= f.check_box :menu_digitized %></br>
    	<%= f.label :digitized, "digitized" %>
    </td>
    <td id="menu_in_db"><%= f.check_box :menu_in_database  %></br>
    	<%= f.label :database, "database" %>
    </td>
    	 <td id="listing_state_submit"><%= f.submit "update" %></br>
    	
    </td>
     <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Listing', new_listing_path %>
