<%= stylesheet_link_tag 'listings' %>


<h1>Listing listings</h1>

<table class="datatable">
  <tr id="heading" >
    <th >id</th>
    <th >name</th>
    <th>telephone</th>
    <th>fax</th>
    <th>suite</th>
    <th>address</th>
    <th>city</th>
    <th>province</th>
    <th>postal_code</th>
    <th>latitude</th>
    <th>longitude</th>
    <th>business Type</th>
    <th>Business Sub Type</th>
    <th>Owner</th>
    <th>Source</th>
    <th>neighbourhood</th>
  </tr>

<% @listings.each do |listing| %>
  <tr id="body">
  	
  	<th><%=listing.id%></th>
    <th><%= link_to listing.name, edit_listing_path(listing) %></th>
    <th><%=listing.telephone%></th>
    <th><%=listing.fax%></th>
    <th><%=listing.suite%></th>
    <th><%=listing.address%></th>
    <th><%=listing.city%></th>
    <th><%=listing.province%></th>
    <th><%=listing.postal_code%></th>
    <th><%=listing.latitude%></th>
    <th><%=listing.longitude%></th>
    <th><%=listing.businessType%></th>
    <th><%=listing.subType%></th>
    <th><%=listing.owner%></th>
    <th><%=listing.source%></th>
    <th><%=listing.localArea%></th>
  	
  	<%= form_for :listing, :url => { :controller => "listings", :action => 'update' }, :remote => true do |l|%>
    <td><%= l.radio_button(:keep, "Keep") %>
    	<%= label_tag(:keep, "Keep") %>
    </td>
    <td><%= l.radio_button(:keep, "Delete") %>
    	<%= label_tag(:keep, "Delete") %>
    </td>
    <td><%= l.check_box(:checked) %>
    	<%= label_tag(:checked, "checked") %>
    </td>
    <td><%= l.check_box(:menu_collected) %>
    	<%= label_tag(:collected, "collected") %>
    </td>
    <td><%= l.check_box(:menu_digitized) %>
    	<%= label_tag(:digitized, "digitized") %>
    </td>
    <td><%= l.check_box(:menu_in_database) %>
    	<%= label_tag(:in_database, "in database") %>
    </td>
      <% l.submit "update"%>
      <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Listing', new_listing_path %>
