<p id="notice"><%= notice %></p>
<p>=============================================================================</p>

<%= link_to 'Edit this listing', edit_listing_path(@listing) %> |
<%= link_to 'Back to table', listings_path %>
<p>=============================================================================</p>

<p><b>Listing info Checked?:</b><%= @listing.checked %></p>
<p><b>Menu Collected:</b><%= @listing.menu_collected %></p>
<p><b>Menu Digitized:</b><%= @listing.menu_digitized %></p>
<p><b>Menu in Database:</b><%= @listing.menu_in_database %></p>
<p><b>Keep listing:</b><%= @listing.keep %></p>
<p><b>Get menu from website:</b><%= @listing.get_menu_from_website %></p>
<p><b>Notes:</b><%= @listing.notes %></p>
<p><b>id:</b> <%= @listing.id %></p>
<p><b>name:</b><%= @listing.name %></p>
<p><b>telephone:</b><%= @listing.telephone %></p>
<p><b>fax:</b><%= @listing.fax %></p>
<p><b>suite:</b><%= @listing.suite %></p>
<p><b>address:</b><%= @listing.address %></p>
<p><b>city:</b><%= @listing.city %></p>
<p><b>province:</b><%= @listing.province %></p>
<p><b>postal_code:</b><%= @listing.postal_code %></p>
<p><b>latitude:</b><%= @listing.latitude %></p>
<p><b>longitude:</b><%= @listing.longitude %></p>
<p><b>business_type:</b><%= @listing.business_type %></p>
<p><b>sub_type:</b><%= @listing.sub_type %></p>
<p><b>owner:</b><%= @listing.owner %></p>
<p><b>localArea:</b><%= @listing.local_area %></p>


