<p id="notice"><%= notice %></p>
<p><%= link_to 'Edit this listing', edit_listing_path(@listing), :class => 'btn btn-warning' %> </p>

<div class="well">
<p><b>[<%= @listing.id %> ] <%= @listing.name %></b></p>

</div>

<div class="well">	
<p><b>Listing info Checked?:</b><%= @listing.checked %></p>
<p><b>Menu State:</b><%= @listing.menu_state %></p>
<p><b>Menu Source:</b><%= @listing.menu_source %></p>
<p><b>Keep listing:</b><%= @listing.keep %></p>
</div>
<div class="well">
<p><b>Notes:</b><%= @listing.notes %></p>
<p><b>telephone:</b><%= @listing.telephone %></p>
<p><b>fax:</b><%= @listing.fax %></p>
<p><b>suite:</b><%= @listing.suite %></p>
<p><b>address:</b><%= @listing.address %></p>
<p><b>city:</b><%= @listing.city %></p>
<p><b>province:</b><%= @listing.province %></p>
<p><b>postal_code:</b><%= @listing.postal_code %></p>
<p><b>latitude:</b><%= @listing.latitude %></p>
<p><b>longitude:</b><%= @listing.longitude %></p>
<p><b>business_type:</b><%= @listing.business_type %></p>
<p><b>sub_type:</b><%= @listing.sub_type %></p>
<p><b>owner:</b><%= @listing.owner %></p>
<p><b>localArea:</b><%= @listing.local_area %></p>
</div>

