<p id="notice"><%= notice %></p>

<p><b>id</b> <%= @listing.id %></p>
<p><b>name</b><%= @listing.name %></p>
<p><b>telephone</b><%= @listing.telephone %></p>
<p><b>fax</b><%= @listing.fax %></p>
<p><b>suite</b><%= @listing.suite %></p>
<p><b>address</b><%= @listing.address %></p>
<p><b>city</b><%= @listing.city %></p>
<p><b>province</b><%= @listing.province %></p>
<p><b>postal_code</b><%= @listing.postal_code %></p>
<p><b>latitude</b><%= @listing.latitude %></p>
<p><b>longitude</b><%= @listing.longitude %></p>
<p><b>businessType</b><%= @listing.businessType %></p>
<p><b>subType</b><%= @listing.subType %></p>
<p><b>owner</b><%= @listing.owner %></p>
<p><b>source</b><%= @listing.source %></p>
<p><b>localArea</b><%= @listing.localArea %></p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
