<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :task_name, collection: [:menu_state_count, :set_menu_state, :copy_dupes_from_listings, :remove_dupes_from_listings, :read_csv_net_http, :read_csv_open_uri] %>
  </div>

    <div class="form-inputs">
      <%= f.input :description %>
    </div>


    <div class="form-inputs">
      <%= f.input :last_run_at_time %>
    </div>

    <div class="form-inputs">
      <%= f.input :last_run_by_user %>
    </div>

    <div class="form-inputs">
      <%= f.input :output_from_last_run %>
    </div>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
