<table id="users_index_table" %>
  <tr>
  	<th>id</th>
    <th>user name</th>
  	<th>user email</th>
  	<th>user role</th>
  	<th>reset password</th> 
  	<th></th> 
  	<th></th>  
    <th></th> 
  </tr>
	<% @users.each do |user| %>
  <tr>
  	<td><%= user.name %></td>
  	<td><%= user.email %></td>
  	<td><%= user.roles  %></td>
  	<th><%= link_to 'reset password', edit_user_password_path %></th> 
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New User', new_user_registration_path %>	
