<h1>Administrator Dash Board</h1>
<p>This page will allow you to monitor and control various tasks and run reports<p>
	
<p>These are the functions that will be provided:</br>
	<ul>
		<li><%=link_to "Listings",  'listings_path' %>Listings Index</li>
		<li><%=link_to "Menu Items",  '#' %>MenuItems index</li>
		<li><%=link_to "Images",  '#' %>Images index</li>
		<li><%=link_to "Users",  '#' %>Users Index</li>
		
		<li><%=link_to "Ingredients",  '#' %>Ingredients index</li>
		<li><%=link_to "tags",  '#' %>Tags index</li>
		<li><%=link_to "Locations",  '#' %>Location index</li>
		<li><%=link_to "Events",  '#' %>Events index</li>
		<li><%=link_to "Address",  '#' %>Address index</li>
		<li><%=link_to "Contacts",  '#' %>Contacts index</li>
	</ul>





