<h1>User List</h1>

<table>
  <tr>
    <th>User Name</th>
    <th>User Email</th>
    <th>User Sign In Count</th>
    <th>Current Sign In at</th>
    <th>Last Sign In At</th>
    <th>Current Sign In IP</th>
    <th>Last Sign In IP</th>
    
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.sign_in_count %></td>
    <td><%= user.current_sign_in_at %></td>
    <td><%= user.last_sign_in_at %></td>
    <td><%= user.current_sign_in_ip %></td>
    <td><%= user.last_sign_in_ip %></td>
 
   

  </tr>
<% end %>
</table>




