<%= will_paginate @listings %>
<%= hidden_field_tag :direction, params[:direction]%>
	<%= hidden_field_tag :sort, params[:sort]%>
<table class="non_datatables"  >
	<tr>
		<th>Submit</th>
		
		<th>Name</th>
		<th>Suite</th>
		<th>Address</th>
		<th>Telephone</th>
		<th>Keep</th>
		<th>Checked</th>
		<th>Menu State</th>
		<th>Menu Source</th>
		<th>Notes</th>
		<th>Fax</th>
		<th>City %></th>
		<th>Province</th>
		<th>Postal Code</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Business Type</th>
		<th>Sub Type</th>
		<th>Owner</th>
		<th>Source</th>
		<th>Local Area</th>
		<th>id</th>
	</tr>
<% @listings.each do |listing| %>	
<%= simple_form_for(listing, :html => {:multipart => true, :class=> '.form-horizontal'} ) do |f| %>
	<tr>
		<td> <%= f.button :submit, :input_html => { :size => 20 } %></td>
		
		<td><%= f.input :name, :input_html => { :size => 10} %></td>
		<td><%= f.input :suite, :input_html => { :size => 10} %></td>
		<td><%= f.input :address %></td>
		<td><%= f.input :telephone %></td>
		<td><%= f.input :keep %></td>
		<td><%= f.input :checked %></td>
		<td> <%= f.input :menu_state,  collection: [:not_collected, :collected, :digitized, :Database] %></td>
		<td> <%= f.input :menu_source, collection: [:text, :website, :not_applicable ] %></td>
		<td> <%= f.input :notes, :input_html => { :rows => 3 } %></td>
		<td><%= f.input :fax %></td>
		<td><%= f.input :city %></td>
		<td><%= f.input :province %></td>
		<td><%= f.input :postal_code %></td>
		<td><%= f.input :latitude %></td>
		<td> <%= f.input :longitude %></td>
		<td><%= f.input :business_type %></td>
		<td> <%= f.input :sub_type %></td>
		<td> <%= f.input :owner %></td>
		<td> <%= listing.source %></td>
		<td> <%= f.input :local_area %></td>
		<td><%= listing.id %></td>
	</tr>
	<% end %>
	<% end %>
</table>
