<h1>Listing addresses</h1>

<table>
  <tr>
    <th>business_name</th>
    <th>address</th>
    <th>telephone_1</th>
    <th>url</th>
    <th>fax</th>
    <th>telephone_2</th>
    <th>city</th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
  	<td><%= address.business_name %></td>
  	<td><%= address.address %></td>
  	<td><%= address.telephone_1 %></td>
  	<td><%= address.url %></td>
  	<td><%= address.fax %></td>
  	<td><%= address.telephone_2 %></td>
  	<td><%= address.city %></td>
  	
    
  </tr>
<% end %>
</table>



<p><%= link_to 'New Address', new_address_path %></p>

